{% extends 'cuentas/base.html' %}
{% block content %}
<style>
    body {
        font-family: 'Baloo 2', sans-serif;
        background-color: #2d2237;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        font-size: 80px;
        font-weight: bold;
        color: #d893e8;
        margin-bottom: 40px;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    }

    .start-button {
        padding: 15px 30px;
        background-color: #8c62a0;
        color: white;
        border: none;
        border-radius: 12px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        animation: fadeInUp 1.5s ease forwards;
    }
    .start-button:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px rgba(142, 68, 173, 0.4);
    }

</style>
{% if user.is_authenticated %}
    <div class="logo">¡Bienvenido a Priorly!</div>
<div>
    <a href="/sign/signout" class="start-button">Cerrar sesión</a>
</div>

{% else %}
    <div class="logo">¡Bienvenido a Priorly!</div>


<div style="display: flex; gap: 20px;">
    <a href="/sign/crear" class="start-button">Registrarse</a>
    <a href="/sign/signin" class="start-button">Iniciar Sesión</a>
</div>
{% endif %}


{% endblock %}
