<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashcard</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="{% static 'flashcard.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="add-flashcard-con">
        <button id="add-flashcard">Agregar Flashcard</button>
      </div>
      
      <div id="card-con">
        <div class="card-list-container"></div>
      </div>
    </div>
    
    <div class="question-container hide" id="add-question-card">
      <h2>Crear Flashcard</h2>
      <div class="wrapper">
        <div class="error-con">
          <span class="hide" id="error">¡Los campos no pueden estar vacíos!</span>
        </div>
        <i class="fa-solid fa-xmark" id="close-btn"></i>
      </div>
      
      <label for="question">Pregunta:</label>
      <textarea
        class="input"
        id="question"
        placeholder="Escribe la pregunta aquí..."
        rows="2"
      ></textarea>
      
      <label for="answer">Respuesta:</label>
      <textarea
        class="input"
        id="answer"
        rows="4"
        placeholder="Escribe la respuesta aquí..."
      ></textarea>
      
      <button id="save-btn">Guardar</button>
    </div>
    
    <script src="{% static 'flashcard.js' %}"></script>
  </body>
</html>
